<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas</title>
</head>
<body>
    <h1>Sistema de consultas</h1>

    <div class="botao-post">
        <a href="consultadecredito"><button>Consulta de crédito</button></a>
    </div>

    <div class="botao-get">
        <a href="consultaticket"><button>Consulta de ticket</button></a>
    </div>
    

    <div class="test">
        <a href="{% url 'index' %}"><button>index</button></a>
    </div>
</body>
</html>